<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- <button class="show-popup">Show Popup</button> -->

    <!-- User cards -->
    <div class="container">
      <div class="row row-cols-2 g-2">
        <div class="col">
          <div class="card h-100">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtuphMb4mq-EcVWhMVT8FCkv5dqZGgvn_QiA&s"
              class="card-img-top"
              alt="user_image"
            />
            <div class="card-body">
              <h6 class="card-subtitle">username: @dovudbek</h6>
            </div>
            <button
              type="button"
              class="btn btn-info m-1"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Info
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /User cards -->

    <!-- User info modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /User info modal -->

    <!-- Modal oyna -->
    <!-- <div class="modal-container">
      <div
        class="<%= className ? 'popup-container active' : 'popup-container' %>"
      >
        <div class="popup-box">
          <form action="" method="post">
            <figure class="text-center">
              <blockquote class="blockquote">
                <p>Biron bir kanal username sini kiriting</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">@</span>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
            <button type="submit" class="close-btn">OK</button>
          </form>
        </div>
      </div>
    </div> -->
    <!-- /Modal oyna -->
  </body>
  <script src="/js/script.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"
  ></script>
</html>
